extends layout

block content
  h1= title
  p Welcome to Ujjwal's corner on the web

  h2 Links
  p You can click these links :-)
    br
    a(href="https://github.com/ujjwal123123") my profile on Github
    br
    a(href="https://linkedin.com/in/goelujjwal") my profile on LinkedIn
